<?xml version="1.0"?>
<model>
  <name>teleaquah8_mono_cam</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>sryen</name>
    <email>sryen@github.com</email>
  </author>
  <description>TeleAI teleAqua X8 with a simple simple monocular camera.</description>
</model>
